{% extends "base.html" %}

{% block content %}


<div class="text-center"><h2> Tips To Lose Weight</h2></div>
<h5>1. Do not skip breakfast </h5>
<p>Skipping breakfast will not help you lose weight. </p>
<h5>2. Eat regular meals</h5>
<p>Eating at regular times during the day helps burn calories at a faster rate.</p>
<h5>3. Eat plenty of fruit and veg</h5>
<p>Fruit and veg are low in calories and fat, and high in fibre – 3 essential ingredients for successful weight loss.</p>
<h5>4. Get more active</h5>
<p>Being active is key to losing weight and keeping it off.</p>
<h5>5. Drink plenty of water</h5>
<p>You can end up consuming extra calories when a glass of water is really what you need.</p>

    {% endblock %}